.container{
    width:  900px;
    margin: 40px auto;
}

h1{
    font-size: 42px;
}

form{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(82, 80, 80);
}

form label{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

form input{
    height: 35px;
    font-size: 20px;
    margin-bottom: 30px;
}

form button{
    background-color: white;
    height: 45px;
    margin-bottom: 25px;
    cursor: pointer;
}

.list_title{
    display: flex;
    border-bottom: 2px solid rgb(82, 80, 80);
}

.list_title h3{
 width: 33%;
}

table td{
    width: 33%;
    font-size: 20px;
    border-bottom: 2px solid rgb(80, 6, 6);
}

td .delete{
    color: red;
    font-weight: 900;
}

.succes, .error{
    color: white;
    padding: 8px;
    margin: 15px 0;
}
.succes{
    background-color: green;
}
.error{
    background-color: red;
}